#API version
API_VERSION=v1

#BACKEND
BACKEND_PORT=3001

DB_PATH=./cpg.db
NODE_ENV=development

#FRONTEND
VITE_API_URL=http://localhost:3001
VITE_API_BASE=/api
VITE_API_VERSION=${API_VERSION}
VITE_APP_TITLE=CPG Explorer

#DOCKER
DOCKER_BACKEND_PORT=3001
DOCKER_FRONTEND_PORT=5173

DOCKER_DATA_PATH=../cpg-test-release

DOCKER_DB_PATH=/app/data/cpg.db
